
.main_banner{
    height: 1.65rem;
    width: 100%;
    .main{
        height: 100%;

        img{
            height: 100%;
            width: 100%;
        }
        .banner_pagination{
            text-align: right;
            padding-right: 10px;
            .swiper-pagination-bullet{
                background: #fff;
                opacity: 1;
                border-radius: 20%;
            }
            .swiper-pagination-bullet-active{
                background:#007aff;
            }
        }
    }
}


