

#main_nav{
    height: 1rem;
    width: 100%;
    font-size: 10px;
    .main_nav{
        display: flex;
        height: 0.7rem;
        background: #fff;        
        a{
            display: flex;flex-flow: column;
            flex: 1;
            border-right:1px solid #f5f5f5;
            align-items: center;        
            
            i{
                width: 0.61rem;
                height: 0.51rem;
                transform: scale(0.6);
            }
            i:nth-child(1){
                background: url("//game.gtimg.cn/images/yxzj/m/m201706/images/bg/btn_list.png") no-repeat -64px -25px;
            }
            span{
                color: #333;
                
            }
        }
    }
}

#main_nav2{
    height: 1rem;
    width: 100%;
    font-size: 10px;
    .main_nav2{
        display: flex;
        height: 0.7rem;
        background: #fff;        
        a{
            display: flex;flex-flow: column;
            flex: 1;
            border-right:1px solid #f5f5f5;
            align-items: center;        
            margin: 5px;
            i{
                width: 0.61rem;
                height: 0.51rem;
                transform: scale(0.6);
            }
            i:nth-child(1){
                background: url("//game.gtimg.cn/images/yxzj/m/m201706/images/bg/btn_list.png") no-repeat -64px -25px;
            }
            span{
                color: #333;
                
            }
        }
    }
    .main_nav-more{
        span{
            transform: rotate(0deg) scale(0.5);
        }
    }

}

.main_nav-more{
    height: 0.3rem;
    width: 100%;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        
        background: url("//game.gtimg.cn/images/yxzj/m/m201706/images/bg/index.png") no-repeat -280px -17px;
        width: 0.2rem;
        height: 0.2rem;
        color: #333;            
        transform: rotate(180deg) scale(0.5);
    }
}
